{% extends 'base.html.twig' %}

{% block title %}Creation compte
{% endblock %}

{% block body %}
	<section id="inscription">
		<div class="titre-inscri">
			<h1>C’est en devenant Chapelier que l’on entre dans la légende</h1>
		</div>
		<div class="contenair">
			{{form_start(userForm)}}
			{{form_widget(userForm)}}
			<button class="btns btn-home">Valider</button>
			{{form_end(userForm)}}
		</div>

	</section>

{% endblock %}
