{% extends 'base.html.twig' %}

{% block title %}Creation compte
{% endblock %}

{% block body %}
	{{form_start(userForm)}}
	{{form_widget(userForm)}}
	<button class="btn">Valider</button>
	{{form_end(userForm)}}
{% endblock %}
