@use '../abstarcts/variables' as variables;

body {
    font-family: variables.$font-body;
    margin: 0 auto;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-family: variables.$font-title;
    font-size: 48px;
}

h2 {
    font-family: variables.$font-title;
    font-size: 35px;
}

h3 {
    font-family: variables.$font-title;
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    font-size: 20px;
}

.form {}