@use '../abstarcts/variables' as variables;

body {
    font-family: variables.$font-body;
    margin: 0 auto;
    background-image: url('~/public/img/BG-papo.png');
    ;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.img {
    width: 10%;
    height: 10%;
}

h1 {
    font-family: variables.$font-title;
    font-size: 48px;
    color: variables.$text-color;
}

h2 {
    font-family: variables.$font-anim;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 5px;

}

h3 {
    font-family: variables.$font-title;
    font-size: 24px;

}


p {
    font-size: 16px;
    color: variables.$doree;
}

a {
    text-decoration: none;
    font-size: 20px;
}

.form {
    width: 50%;
}