@font-face {
    font-family: 'Lato';
    src: url(../../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Playfair';
    src: url(../../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Alice';
    src: url(../../fonts/Alice-Regular.ttf);
}

@font-face {
    font-family: 'Wonderland';
    src: url(../../fonts/BerkshireSwash-Regular.ttf);
}