@use '../abstarcts/variables' as variables;

h1 {
    text-align: center;
}

.chapo {

    padding-left: 7rem;

    .titre {
        color: variables.$typo;
        text-transform: uppercase;
    }

}


.fond {
    margin: 0 auto;
    background-image: url('~/public/img/BG-papo.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .fade-in {
        animation: fadeIn 0.6s ease forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .text {
        font-family: variables.$font-anim;


        .conte {
            visibility: hidden;
            margin: 0;
            font-size: 30px;
            line-height: 1.6;
            text-align: center;
            margin: 1rem 0;
            min-height: 2.5rem;
        }

        span.word {
            opacity: 0;
            display: inline-block;
            margin-right: 0.3rem;
            transform: translateY(10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

    }

}