//fonts
$font-body : 'Lato';
$font-title: 'Playfair';
$font-ban: 'Alice';
$font-anim: 'Wonderland';
//color
$bordeau: #622326;
$bordeau-fonce : #762435;
$rose: #D8A7B1;
$doree: #c58e45;
$dore: #a06c30;
$rose-form: #f8ecee;
$border: #6b1e2b;
$label: #1a1a1a;
$bg-btn: #5a1825;
$text-color: #e3dede;
$white: #ffffff;
$black: #000000;
$typo: #dddddd;